@import "tailwindcss"; 

@theme {
  --font-family-geist: "Geist", ui-sans-serif, system-ui, sans-serif;
}

html, body {
    background-color: black;
    min-height: 100vh;
    font-family: "Geist", ui-sans-serif, system-ui, sans-serif;
}

.link_tag {
    margin: 0;
    list-style: none;
}

@layer base{
    .link_tag{
        @apply m-0 list-none; 
    }