@import "tailwindcss";

:root {
    --font-family-geist: "Geist", ui-sans-serif, system-ui, sans-serif;
}

html, body {
    background-color: black;
    min-height: 100vh;
    margin: 0;
    font-family: var(--font-family-geist);
}

@layer base {
    .link_tag {
        margin: 0;
        list-style: none;
    }

}