/* Minimal styles for the Navbar component */
.navbar {
  width: 100vw;
  height: 10vh;
  position: sticky;
  top: 0;
  background: #FED201;
  font-family: Helvetica, sans-serif;
}

.nav-inner {
  margin: auto;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.logo {
  width: 150px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 12px;
}

.link-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 12px;
}

.link-list a {
  text-decoration: none;
  color: white;
}

.btn {
  padding: 15px 20px;
  border-radius: 8px;
  background: black;
  color: #fff;
  text-decoration: none;
}


